<%- include('./fragments/header.ejs') %>
<main>
    <h2>Strona główna</h2>
    <p>W naszym sklepie mozesz uzyskac dostep do gier najwyzszej klasy.</p>
</main>
<%- include('./fragments/footer.ejs') %>