# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\macie\Insync\gribanow@gmail.com\Google Drive\WebStorm_projects\tin_dzienne_45c_s17908-mp2\tin-projekt-gribanow-s17908\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
